// Thin
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-Thin.ttf');
    src: local('Jost Thin'), url('../assets/fonts/Jost-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
}

// Thin-Italic
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-ThinItalic.ttf');
    src: local('Jost Thin'), url('../assets/fonts/Jost-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
}

// Extra-Light
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-ExtraLight.ttf');
    src: local('Jost Regular'), url('../assets/fonts/Jost-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
}
// Extra-Light-Italic
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-ExtraLightItalic.ttf');
    src: local('Jost Regular'), url('../assets/fonts/Jost-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
}

// Light
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-Light.ttf');
    src: local('Jost Regular'), url('../assets/fonts/Jost-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

// Light-Italic
@font-face {
    font-family: 'Jost';
    src: url('../assets/fonts/Jost-LightItalic.ttf');
    src: local('Jost Regular'), url('../assets/fonts/Jost-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

// Regular
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Regular.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

// Regular
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-RegularItalic.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

// Medium
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Medium.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

// Medium-Italic
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-MediumItalic.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

// SemiBold
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-SemiBold.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

// SemiBold-Italic
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-SemiBoldItalic.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

// Bold
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Bold.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

// Bold-Italic
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-BoldItalic.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

// ExtraBold
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-ExtraBold.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

// ExtraBold-Italic
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-ExtraBoldItalic.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

// Black
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-Black.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-Black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

// Black-Italic
@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost-BlackItalic.ttf');
  src: local('Jost Regular'), url('../assets/fonts/Jost-BlackItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}